
.section1 {
  margin-top: 100px;
}
/*nav*/
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }


  .navbar-nav{
    color: white;
  }



#links {
  align-items: center;

}

.jumbotron
{
    padding-top: 100px;
    padding-bottom:0px;
    background-image:url('images/car/car.jpg');
    background-size: cover;
    background: contain;
    width: 100%; /* make sure to define width to fill container */
    height: 100px; /* define the height in pixels or make sure   */
                   /* you have something in your div with height */
                   /* so you can see your image */
    max-width:1400px;  /* define the max width */
 }
/*globals*/
